/* # Recipe Card Project Style Guide */

:root {
--lightblue: #DAF7F6;
--red:#F16059;
--white: #FFFFFF;
--darkgray: #3B3B3B; 
}

/* ## Images
Images are in the 'img' folder

## Fonts
- 'Open Sans' -> Main font
- 'Montserrat' -> Accent font (headers)
- Sizes: small = 12px | medium = 24px | large = 48px */

/**** BODY ****/

body {
    background-color: var(--lightblue);
    color:var(--darkgray);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background-color: #fff;
    text-align: center;
}

header img {
    margin-right: 16px;
}

h1 {
    display:inline-block;
    padding: 40px 0;
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    color:var(--red);
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 25px 0;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background-color: #fff;
    box-sizing:border-box;
}

#cookies .image{
    background-image:url(../img/cookies.jpg);
    background-size: cover;
}

#pesto .image {
    background-image: url(../img/pesto.jpg);
    background-size: cover;
}

#salad .image {
    background-image: url(../img/salad.jpg);
    background-size: cover;
}

.recipe h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--red);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 29px;
    margin-top: 0;
}

.time {
    margin-bottom: 20px;
    border: 1px solid #3b3b3b;
    overflow: auto;
}

.time div {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.time .cook {
    border-width: 0 1px;
    border-style: solid;
    border-color: var(--darkgray);
}

.time img {
    margin-right: 5px;
    width: 15px;
    height: auto;
    vertical-align: middle;
}

.time-details {
    display: inline-block;
}

.time strong {
    font-family: 'Montserrat',sans-serif;
}

.columns {
    overflow: auto;
}

.directions{
    float: left;
    width: 240px;
}

.ingredients {
    float: left;
    width: 205px;
    margin-right: 15px;
}

.recipe h3 {
    padding: 6px;
    color: var(--red);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-width: 2px 0;
    border-style: solid;
    border-color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
}

/* .ingredients ul {
    padding-left: 15px;
    line-height: 24px;
    list-style-type: square;
}

these styles were overriding your previous styles in the .ingredients and .directions classes so commenting them out fixed your problem :D

.directions {
    padding-left: 15px;
    line-height: 24px;
} */
